.nav {
    background-color: #251747;
    overflow: hidden;
    border-radius: 9px;
  }
  
  .nav a {
    color: azure;
    padding: 15px;
    text-align: center;
    float: left;
    text-decoration: none;
    transition: 0.3s ease-out;
  }
  
  .nav a:hover,
  .nav a:focus {
    background-color: #402C84;
  }
  
  .nav a.active {
    background-color: #5584E9;
  }

  body {
    background: #326885;
    text-align: center;
    padding: 15px;
  }

  .titleCard {
    background-color: #251747;
    padding: 20px;
    margin-top: 15px;
    border-radius: 7px;
    font-size: 2.1rem;
    color: azure;
  }